/*
prm-spinner.half-transparent .diamond{background-color: yellow}
prm-spinner .loader .diamond {animation: squares 1.5s linear infinite}

@keyframes squares {
    50% {
        transform: translateY(-2em) rotate(90deg) scale(1);
    }
    100% {
        transform: translateY(-4em) rotate(90deg) scale(0);
    }
}*/

prm-brief-result-container:hover prm-search-result-thumbnail-container .fan-img:nth-of-type(1),
prm-brief-result-container:hover prm-search-result-thumbnail-container .fan-img:nth-of-type(2),
prm-brief-result-container:hover prm-search-result-thumbnail-container .fan-img:nth-of-type(3),
prm-brief-result-container prm-search-result-thumbnail-container .fan-img:nth-of-type(1),
prm-brief-result-container prm-search-result-thumbnail-container .fan-img:nth-of-type(2),
prm-brief-result-container prm-search-result-thumbnail-container .fan-img:nth-of-type(3){
    transform: none!important;
}
.prm-custom-slider{
    margin: 16px;
    padding:16px
}
.letter {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-bottom: 5px;        
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 3px 15px 15px 0px;
    background-color: #dcdee0ec;
    cursor: pointer;
  }

  .letter:hover{
    box-shadow:inset 0 -1px 0 0 #0f7d00;    
    color:#0f7d00;
  }

 .hidden {
    display: none;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
      }
  
  .flex-container > div {  
    width: 100px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    padding-right:15px;
  }

 

